body {
  font: 14px sans-serif;
  margin: 20px;
}

.ui-blank-state {
    text-align: center;
    font-size: 1.4rem;
}

.ui-intent-recommendations__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas: ". .";
}

.ui-style-preview {
    cursor: pointer;
    padding: 15px 10px;
    text-align: center;
}

.ui-style-preview:hover {
    background-color: #333;
}

.ui-style-preview__group {
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    font-size: 12px;
}

details {
    margin-bottom: 15px;
    max-height: calc(100vh - 30px);
    overflow-y: auto;
    overflow-x: hidden;
}

details summary {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
