body {
  font: 14px sans-serif;
  margin: 15px;
}

.ui-blank-state {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    font-size: 1.2rem;
}

.ui-intent-recommendations__items,
.ui-intent-fixes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas: ". .";
}

.ui-style-preview {
    cursor: pointer;
    padding: 15px 10px;
    text-align: center;
}

.ui-style-preview:hover {
    background-color: #333;
}

.ui-style-preview__group {
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    font-size: 12px;
}

details {
    margin-bottom: 15px;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    overflow-x: hidden;
}

details summary {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.ui-intent-fixes {
    align-items: center;
}

.ui-intent-fixes:not(:only-child) {
    margin-bottom: 15px;
}

.ui-intent-fixes__heading {
    font-size: 16px;
    margin: 0;
}
